version: "3.9"

services:
  web:
    build:
      context: ../../backend
    container_name: django_app
    env_file:
      - ../../backend/.env
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres_db
    env_file:
      - ../../backend/.env
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pg_data: